.greeting{
  background-color: rgb(2, 162, 202);
  border: none;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 2px;
}
.price{
  color: green;
}

.cart{
  border: none;
  border-radius: 20px;
  background-color: rgb(235, 221, 28);
  padding: 7px 30px 7px 30px;
  cursor: pointer;
}

.cart:hover{
 opacity: 0.9; 
}

.cart:active{
  opacity: 0.7;
}

.buy{
  border: none;
  border-radius: 20px;
  background-color: orange;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 7px;
  padding-bottom: 7px;
  cursor: pointer;
  margin-left: 8px;
}

.buy:hover{
  opacity: 0.9;
}

.buy:active{
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.amazon{
  color: rgb(223, 102, 3);
}

.text{
  font-weight: bold;
}

.shopping{
  font-weight: bold;
  font-size: 24px;
  font-family: Arial;
  margin-bottom: 30px;
  text-align: center;
}

.directive{
  font-family: Arial;
  font-size: 15px;
  margin-bottom: 20px;
  text-align: center;
}

.instruction{
  font-family: Arial;
  font-size: 10px;
  margin-bottom: 20px;
  color:rgb(0, 162, 255);
  text-align: center;
}

.instruction:hover{
  cursor: pointer;
  text-decoration: underline;
}